<label for="id">Product ID:</label>
<input id="id" type="text" [formControl]="id" placeholder="Enter Product ID" />

<label for="name">Product Name:</label>
<input id="name" type="text" [formControl]="name" placeholder="Enter Product Name" />

<label for="price">Product Price:</label>
<input id="price" type="text" [formControl]="price" placeholder="Enter Product Price" />

<label for="description">Product Description:</label>
<textarea id="description" [formControl]="description" placeholder="Enter a description"></textarea>

<button (click)="submit()">Submit</button>
